.d-f-row {
    display: flex;
    color: rgb(12, 32, 51);
    padding: 5px 10px;
}
.d-f-col {
    display: flex;
    flex-direction: column;
}
.a-s-center {
    margin: auto;
}
.adminNav {
    display: flex;
    width: 100%;
    flex-direction:column;
}
.navButton {
    font-size: 0.70rem;
    text-align: center;
    margin-left: 10px;
    font-weight: 800;
    background-color: rgb(49, 144, 233);
    padding: 5px;
    border-radius: 5px;
}
.buttonBar {
    justify-content: center;
}

.underline {
    background-color: rgb(12, 32, 51);
    width:100%;
    height: 3px;
}
.d-sp-between {
    justify-content: space-between;
}
.logout {
    justify-content: center;

    font-weight: 700;
    margin: 0 auto;
}

.logout:hover, .navButton:hover, .uploadButton:hover {
    cursor: pointer;
    opacity: 90%;
}
/***************UpdateForm***************/
.updateArea {
    margin: 20px auto;
    text-align: center;
    color: rgb(12, 32, 51);
}
.updateArea h1 {
    font-size: 2.5rem;
    font-weight: 600;
    
}
.updateArea p {
    width: 50%;
    margin: 10px auto;
    line-height: 1.5rem;
}
.uploadedImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}
.eachUpload {
    width: 40%;
    margin: 10px auto;
}
.eachUpload img {
    margin-bottom: 5px;
    max-width: 100%;
    
}
.eachUpload input {
    width: 80%;
    margin: 5px auto;
    color: rgb(12, 32, 51);
    border: none;
    
    border-radius: 5%;
    text-align: center;
}
.eachUpload select {
    width: 82%;
    color: rgb(12, 32, 51);
    border: none;
    border-radius: 5px;
    margin: 5px auto;
}
.uploadButton {
    background-color: rgb(49, 144, 233);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: rgb(12, 32, 51);
    font-weight: 700;
}
.fileUpload {
    margin: 10px auto;
    text-align: center;
}
@media screen and (min-width: 340px) {
    .navButton {
        font-size: 1rem;
    }
}
@media screen and (min-width: 500px) {
    .navButtons{
        display: flex;
        flex-direction: column;     
    }
    .logout{
        margin: auto;
    }
    .buttonBar {
        margin: auto;
    }   
}

@media screen and (min-width: 600px) {
    .navButtons {
        flex-direction: row;
    }
    .buttonBar {
        margin-left: 0;
    }
    .logout {
        margin-right: 0;
        padding-right: 20px;
    }
    .eachUpload {
        width: 15%; 
    } 
}
.serverResponse{
    color: rgb(1, 116, 1);
    margin: 10px auto;
    max-width: 80%;
}
/*****************************Dashboard Styles**************************/
.dashbaord {
    color: rgb(12, 32, 51)
};
.dashboard h1{
    font-size: 2rem;
    text-align: center;
}
/******************************Update PLUS AREA *******************************/

.updateSection {
    text-align: center;
    border: rgb(49, 144, 233) solid 2px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%
}
.adminTitle{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(12, 32, 51);
    margin-top: 20px;
    text-align: center;
}
.updateSection h1 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(12, 32, 51);
    margin: 10px;
}
.updateSection p {
    color: rgb(12, 32, 51);
    font-size: 1rem;
    margin: 10px;
    line-height: 1.25rem;
}
.caution {
    font-weight: 600;
    font-style: italic;
}
.updateSectionButton {
    margin-bottom: 10px;
    background-color: brown;
    min-width: 180px;
    padding: 10px;
}
.erase {
    background-color: brown;
}
.popUp {
    min-width: 90%;
    min-height: 400px;
    background-color: grey;
    border: solid 3px rgb(49, 144, 233) ;
    border-radius: 10px;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin:  5%;
}
.popUp h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0px;
}
.popUp h2 {
    margin-top: 15px;
}
.popUpButtons :last-child {
    margin-left: 20px;
}
.popUpButtons button {
    margin-top: 20px;
    padding: 5px
}
.updateItem {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-bottom: solid rgb(49, 144, 233) 1px;
}
.updateItem:last-child{
    border-bottom: none;
}
.pluListItems {
    border-top: solid rgb(49, 144, 233) 1px;
}

.updateItem h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 10px 0 0;
    
}
.updateItem button {
    min-width: 74.9px;
    padding: 5px;
    height: min-content;
    margin: auto 5px;
    background-color: rgb(49, 144, 233);
    border-radius: 5px;
    border: none;
}
.updateButtons {
    margin: 5px auto 5px 0;
    
}
.updateTextBoxes :first-child{
    width: 30px;
    margin-right: 10px;
}
.updateTextBoxes :nth-child(2) {
    width: 150px
}
.tickSymbol {
    color: green;
    font-size: 2rem;
}
.tickSymbol :hover {
    cursor: pointer;
    opacity: 90%;
}
.responsePlu {
    color:initial;
    color: rgb(1, 116, 1);
    text-align: left;
    margin: 0 0 0 10px;

}
.pluListItems h2 {
    margin: 20px;
    text-align: left;
    color: brown;
    font-weight: 600;
}
.updateTextData {
    margin: 0 auto 0 0
}
@media screen and (min-width: 600px) {
    .updateItem {
        flex-direction: row;
    }
    .updateButtons {
        margin-left: auto;
        margin-right: 0;
    }
}