@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&display=swap');

/* font-family: 'Rubik', sans-serif; */

.pluDash {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.actChoice {
    width: 80%;
    background-color: white;  
    margin-bottom: 20px;
    color: rgb(12, 32, 51);
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    border-radius: 5px;
    text-align: center;
    display:flex;
    flex-direction: column;

}
.actChoice:hover {
    cursor: pointer;
    opacity: 90%;
}
.actImage {
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    min-height: 75%;
    max-height: 75%;
    
    margin: 0;
    padding: 5px;
}
.actChoice h1 {
    font-weight: 800;
    font-size: 1.2rem;
    margin-top: auto;
}
.actChoice h2 {
    font-weight: 400;
    font-size: 1rem;
    padding: 5px 0;
}
.d-f-row {
    display: flex;
}
.d-f-col {
    display: flex;
    flex-direction: column;
}
.pluList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap;
    
}
.loading {
    text-align: center;
    font-size: 2rem;
    animation: flash 2s infinite;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
.pluItem {
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(95, 173, 247);
    font-family: 'Rubik', sans-serif;
    border: solid 2px rgb(17, 44, 70);
}
.pluItem img, .pluItemPass img,.pluItemFail img {
    border: solid 2px rgb(17, 44, 70);
    max-height: 180px;
    margin-bottom: 0;
    border-radius: 10px;
}
.pluItem h1, .pluItemPass h1,.pluItemFail h1 {
    margin: 0 auto;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.pluItem h2, .pluItemPass h2,.pluItemFail h2 {
    font-size: 1.25 ;
    font-weight: 400;
}
/* .pluItem:nth-child(odd) {
    margin-right: auto;
    margin-left: 0;
} */
.pluList h1 {
    font-size: 2rem;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
}
.backIcon{
    width:min-content;
    font-size: 3rem;
    margin: 10px 0 0 10px;
    color: rgb(49, 144, 233);
}
.backIcon:hover {
    cursor: pointer;
    opacity: 90%;
}
.pluItem input {
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    width: 25%;
    color: rgb(12, 32, 51);
    padding: 5px;
    text-align: center;
}
.testItemName {
    font-size: 1.25rem;
    font-weight: 600;
}
.testButton {
    background-color: rgb(19, 52, 83);
    color: white;
    border: none;
    padding: 8px;
    width: fit-content;
    margin: 5px auto;
    border-radius: 5px;
    font-weight: 600;
}
.testButton:hover {
    cursor: pointer;
    opacity: 90%;
}
.pluItemPass {
        display:flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        border-radius: 10px;
        padding: 8px;
        background-color: rgb(95, 247, 164);
        font-family: 'Rubik', sans-serif;
        border: solid 2px rgb(17, 44, 70);
}
.pluItemFail {
    
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
    background-color: brown;
    font-family: 'Rubik', sans-serif;
    border: solid 2px rgb(17, 44, 70);
}
.testHeader {
    color: rgb(17, 44, 70);
    margin: auto;
    font-size: 3rem;
    font-weight: 600;
}

@media screen and (min-width: 600px) {
    .pluList {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        width: 100%
    } 
    .pluDash {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .actChoice {
        width: calc(40% - 10px);
    }
}
@media screen and (min-width: 790px) {
    .pluList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        width: 100%
    }
    
    
        
}
@media screen and (min-width: 1060px) {
    .pluList {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        width: 100%
    }
        
}
@media screen and (min-width: 1400px) {
    .pluList {
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 5px;
        width: 100%
    }
        
}